.nav {
  border: solid black;
  background-color: lightgray;
  height: 80px;
  display: flex;
  justify-content: space-around;
}
.BnyLogo {
  height: 70%;
  padding: 5px;
  padding-left: 20px;
  margin-top: 7px;
}
.tabs {
  display: flex;
  justify-content: space-between;
  width: 600px;
  padding: 15px;
  margin-top: 10px;
  font-size: 20px;
}
.magGlass {
  height: 40px;
}
.contactUs {
  height: 70%;
  margin-top: 10px;
  margin-right: 40px;
  font-size: 20px;
  border-radius: 25px;
}
.otherNav {
  display: flex;
  padding: 15px;
  margin-top: 10px;
  width: 25%;
  font-size: 20px;
  justify-content: space-evenly;
  width: 500px;
  align-items: center;
}
.alta {
  border: solid green;
  background-color: blue;
  height: 700px;
  /* background-image: url("https://px.ads.linkedin.com/ws_collect/?pid=269162&timestamp=1684973119676&raw_event_id=269162-d3bfa852-359f-192f-f52b-d0e310688eb6-1684973119667"); */
}
.alta1 {
  font-size: 80px;
  margin-bottom: 0px;
  color: white;
}
.alta2 {
  font-size: 80px;
  color: pink;
}
.Altainfo {
  color: white;
  margin-left: 10px;
  font-size: 18px;
  width: 500px;
}
.learn {
  background-color: blue;
  color: white;
  font-size: 45px;
  border-radius: 25px;
  margin-left: 10px;
}
.learnless {
  background-color: lightgray;
  border: none;
  font-size: 25px;
}
.news {
  border: solid white;
  height: 220px;
  width: 80%;
  margin-left: 180px;
  background-color: lightgray;
  justify-content: space-between;
  display: flex;
}
.title {
  width: 50%;
  border: white solid;
}
.leadIn {
  color: darkblue;
  font-size: 20px;
}
.insight {
  font-size: 35px;
}
.newsitems {
  text-align: left;
  /* border: solid white; */
  width: 50%;
  margin-left: 10px;
}
.insights {
  /* border: solid red; */
  margin-left: 25px;
  margin-right: 25px;
  height: 500px;
}
.newAndInsights {
  font-size: 40px;
}
.newsTitle {
  color: darkblue;
}
.new1 {
  width: 35%;
  margin-left: 30px;
}
.new2 {
  width: 35%;
  margin-left: 50px;
}
.new3 {
  width: 35%;
  margin-left: 50px;
}
.newsPic {
  height: 30%;
}
.newscontainer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 150px;
}
.training {
  border: solid blue;
  height: 175px;
}
