.nav {
  border: solid black;
  color: white;
  /* background-color: lightgray; */
  height: 80px;
  display: flex;
  justify-content: space-around;
}
.upperSection {
  background-image: url("Arizona1.JPG");
  background-size: cover;
}
.BnyLogo {
  height: 50%;
  padding: 5px;
  padding-left: 20px;
  margin-top: 10px;
}
.tabs {
  display: flex;
  justify-content: space-between;
  width: 600px;
  padding: 15px;
  margin-top: 10px;
  font-size: 18px;
}
.magGlass {
  height: 40px;
}
.contactUs {
  height: 70%;
  margin-top: 10px;
  margin-right: 40px;
  font-size: 18px;
  border-radius: 25px;
}
.otherNav {
  display: flex;
  padding: 15px;
  margin-top: 10px;
  width: 25%;
  font-size: 18px;
  justify-content: space-evenly;
  width: 500px;
  align-items: center;
}
.alta {
  padding-left: 80px;
  padding-top: 10px;
  /* border: solid green; */
  /* background-color: blue; */
  height: 650px;

  /* width: 95%; */
}
.alta1 {
  font-size: 80px;
  margin-bottom: 0px;
  color: white;
}
.alta2 {
  font-size: 80px;
  color: pink;
}
.Altainfo {
  color: white;
  margin-left: 10px;
  font-size: 18px;
  width: 500px;
}
.learn {
  background-color: blue;
  color: white;
  font-size: 45px;
  border-radius: 25px;
  margin-left: 10px;
}
.learnless {
  background-color: lightgray;
  border: none;
  font-size: 25px;
}
.learnless2 {
  background-color: white;
  border: none;
  font-size: 20px;
}
.news {
  border: solid white;
  /* height: 250px; */
  width: 80%;
  margin-left: 180px;
  background-color: lightgray;
  justify-content: space-between;
  display: flex;
}
.title {
  width: 50%;
  border: white solid;
}
.leadIn {
  color: darkblue;
  font-size: 20px;
}
.insight {
  font-size: 35px;
}
.newsitems {
  text-align: left;
  /* border: solid white; */
  width: 50%;
  margin-left: 10px;
}
.insights {
  /* border: solid red; */
  margin-left: 95px;
  margin-right: 45px;
  /* height: 500px; */
}
.newAndInsights {
  font-size: 55px;
}
.newsTitle {
  color: darkblue;
}
.new1 {
  width: 35%;
  margin-left: 30px;
}
.new2 {
  width: 35%;
  margin-left: 50px;
}
.new3 {
  width: 35%;
  margin-left: 50px;
}
.newsPic {
  height: 25%;
}
.newscontainer {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: 100px;
}
.training {
  border: solid blue;
  background-color: darkblue;
  /* height: 575px; */
  display: flex;
  margin-top: 45px;
}
.radios {
  text-align: center;
}
.picContainer {
  text-align: center;
  margin-left: 200px;
  margin-top: 100px;
}
.trainingnews {
  margin-left: 120px;
  margin-top: 100px;
}
.trainingNews {
  color: white;
  font-size: 70px;
}
.trainingP {
  color: white;
  font-size: 21px;
  width: 70%;
}
.sol {
  color: lightblue;
}
